body{
    background-color: gray;
}
h1{
    color: cornflowerblue;
}
h2{
    color: darkgreen;
}
h3{
    color: beige;
}
button{
    background-color: aqua;
}

email-button {

    display: inline-block;
    
    padding: 10px 20px;
    
    background-color: #007bff;
    
    color: #fff;
    
    text-decoration: none;
    
    border-radius: 5px;
    
    font-weight: bold;
    
    transition: background-color 0.3s ease;
    
    }
    
    
    .email-button:hover {
    
    background-color: #0056b3;
    
    }